/*====================================
            General
======================================*/

/*====================================
            Nav Bar
======================================*/

:root {
    font-size: 16px;
    /*font-family: "Open Sans";*/
    --text-primary: #b6b6b6;        /*these are css variables. they start with the double hyphen*/
    --text-secondary: #ececec;      
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body {
    color: black;
   /* background-color: white;*/
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;        /*notice that it matches the margin0left in the main tag*/
    height: 100vh;
    position: fixed;
    z-index: 20;
    background-color: var(--bg-primary);  /*this is how out color variables in the pseudo root element is called upon to be used*/
    transition: width 200ms ease;         /*this is the animation for the navbar to expand with grace*/
}

.navbar-nav {
    list-style: none;       /*the ul in the html will be our flex container*/
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
}

.nav-link:hover {
    color: var(--text-secondary);
}

.link-text {                /*for all the span tags not to show unless the user hovers over*/
    display: none;
    margin-left: 1rem;
    font-family: 'Fredoka One', cursive;
}

.nav-link i {               /*for all the icon logo tags*/
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {             /*the animation to expand the navbar when hovered over*/
    width: 16rem;
}

.navbar:hover .link-text {  /*shows the text of the icons when the navbar is hovered over*/
    display: block;
}

/*====================================
            Footer
======================================*/
.line {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: rgb(100, 165, 218);
}

.line-1 {
    z-index: 15;
    opacity: 0.5;
}
.line-2 {
    z-index: 10;
    opacity: 0.7;
}
.line-3 {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.wave1 {
    /*-webkit-background-size: 50% 80px;*/
    /*background-size: 10% 20%;*/
    animation: animate 5s linear infinite;
}

.wave2 {
   /* -webkit-background-size: 50% 100px;*/
    /*background-size: 20% 50%;*/
    animation: animate 12s linear infinite;
}

.wave3 {
   /* -webkit-background-size: 50% 80px;*/
   /* background-size: 10% 20%;*/
    animation: animate 18s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.5);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}

/*====================================
            Home Page
======================================*/
.mid-text {
    position: absolute;
    z-index: 50;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mid-text h1 {
    color: ;
    font-family: ;
    font-size: 50px;
}


/*====================================
            About Page
======================================*/

/*background image no.2 psuedo-element before*/

/*====================================
            Skills Page
======================================*/

/*background image no.3 psuedo-element before*/

/*====================================
            Projects Page
======================================*/

/*background image no.4 psuedo-element before*/

/*====================================
            Contact Page
======================================*/

/*background image no.5 psuedo-element before*/