

@media screen and (hover:none) and (orientation: portrait) {
    html, body {
        font-size: 1vh;
    }

  

    nav {
        flex-direction: column;
        /*display: none;*/
        position: fixed;
        right: 0.5em;
        top: 1.5em;
        width: 0;
        height: 0;
        overflow: hidden;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        transition-duration: 0.25s;
    }

    header > span {
        display: block;
    }

    #menu {
        display: block;
        position: fixed;
        top: 0.5em;
        right: 0.5em;
    }

    .menu-show {
        display: flex;
    }

    main {
        white-space: unset
    }

    main a {
        background: linear-gradient(90deg, blue, lightblue, turquoise);
        display: block;
        margin: 20px;
        margin-left: 125px;
    }


    .teaser {
        flex-direction: column;
    }
}